nav {
  position: relative;
}

span.line {
  position: absolute;
  height: 80px;
  background-color: #4e4e4e;
  width: 1px;
  transform-origin: bottom left;
  top: 0;
  left: 0;
  transition: transform 0.2s ease-in-out;
  transform: translate(50px, 0) skew(135deg);
  transform-origin: bottom left;
}

span.nav-item-text {
  height: 24px;
  font-size: 20px;
  background-color: white;
}

a.nav-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 80px;
  text-align: center;
  z-index: 10;
  cursor: pointer;
  text-decoration: none;
  color: #4e4e4e;
  transition: transform 0.2s ease;
}

/*a.nav-item:hover {
  transform: scale(1.1);
}*/

.nav-item:not(:last-child) {
  margin-right: 20px;
}
